    {% include('style.html') %}

            <ul class="navBar">
                <nav>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">Our Flowers</a></li>
                    <li><a href="/logIn">Log In</a></li>
                    <li><a href="/assignment_4">Users</a></li>
                    <li><a href="/restapi_users/">RESTAPI</a></li>

                    {% if session['logedin'] %}
                        <h1 id="username">Welcome, {{ session['username']  }}</h1>
                     {% endif %}

                </nav>
            </ul>

